/**
 * 转化时间显示
 */
function convertTime(time) {
  var s = "" + time;
  var date = getDate(s.replace("-", "/").replace('-','/'));
  var curDate = getDate();

  if (curDate.getFullYear() == date.getFullYear() && curDate.getMonth() == date.getMonth() && curDate.getDate() == date.getDate()) {
    return "今天"
  } else if (curDate.getFullYear() == date.getFullYear() && curDate.getMonth() == date.getMonth() && curDate.getDate() - date.getDate() == 1) {
    return "昨天";
  } else if (curDate.getFullYear() == date.getFullYear()) {
    return (date.getMonth() + 1) + "月" + date.getDate() + "日";
  } else return date.getFullYear() + "年" + (date.getMonth() + 1) + "月" + date.getDate() + "日";
  return time;
}

/**
 * 获取当前的年
 */
function getYear() {
  var curDate = getDate();
  return curDate.getFullYear() + "年";
}

/**
 * 获取当前的月
 */
function getMonth() {
  var curDate = getDate();
  return (curDate.getMonth() + 1) + "月";
}

module.exports = {
  convertTime: convertTime,
  getYear: getYear,
  getMonth: getMonth,
}